/* _content/BlazorCRM/Pages/Objectives.razor.rz.scp.css */
#ObjectiveList[b-6nheejtd9v] {
    display: grid;
    grid-template-columns: 3rem repeat(auto-fill, min-content);
    justify-items: center;
    gap: 1rem;
}
#NewObjective[b-6nheejtd9v] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-field[b-6nheejtd9v] {
    display: flex;
    flex-direction: column;
}
/* _content/BlazorCRM/Pages/Users.razor.rz.scp.css */
#UserList[b-1tksimbofw] {
    display: grid;
    grid-template-columns: 3rem 10rem 10rem 4rem 4rem;
    justify-items: center;
    gap: 1rem;
}
/* _content/BlazorCRM/Shared/MainLayout.razor.rz.scp.css */
#page[b-pkfdbk1gz6] {
    display: grid;
    grid-template-columns: 15vw 55vw;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}

main[b-pkfdbk1gz6] {
    display: flex;
    flex-direction: column;
}

/* _content/BlazorCRM/Shared/NavMenu.razor.rz.scp.css */
#NavWrapper[b-4rfxak639k] {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    border-right:0.1rem solid #b06e35;
}

.navbar-toggler[b-4rfxak639k] {
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
}

nav[b-4rfxak639k] {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.nav-collapse[b-4rfxak639k] {
    display: none;
}
