#ObjectiveList[b-6nheejtd9v] {
    display: grid;
    grid-template-columns: 3rem repeat(auto-fill, min-content);
    justify-items: center;
    gap: 1rem;
}
#NewObjective[b-6nheejtd9v] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-field[b-6nheejtd9v] {
    display: flex;
    flex-direction: column;
}